@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap");

@font-face {
  font-family: "Recoleta";
  src: url("../../static/fonts/Recoleta-SemiBold.ttf");
  font-weight: 600;
}

:root {
  --brown100: #8e3200;
  --brown80: #a55b33;
  --brown60: #bb8466;
  --brown40: #d2ad99;
  --brown20: #e8d6cc;
  --brown10: #f4ebe6;
  --brown5: #f9f5f2;
  --cream: #ffebc1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: fit-content;
}
