.ReviewCard {
  --card-width: 30vw;
  --card-height: calc(0.46839 * var(--card-width));
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  height: var(--card-height);
  width: var(--card-width);
  background-image: url("../../static/images/reviewcard.png");
  background-position: center;
  background-size: cover;
  padding: 10px;
  user-select: none;
}
.ReviewCard:hover {
  filter: drop-shadow(var(--brown20) 0 0 16px);
  transition: all 0.1s;
  cursor: pointer;
}
.ReviewCard:active {
  filter: drop-shadow(var(--brown40) 0 0 8px);
  transform: scale(0.95);
}
.review-card-poster,
.review-card-poster img {
  max-width: 100%;
  max-height: 100%;
}

.review-card-details {
  max-width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Outfit", sans-serif;
  justify-content: space-between;
  padding: 8px 0;
}
.review-card-synopsis {
  max-height: 100%;
}
.review-card-movie {
  max-width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--brown80);
  font-weight: 600;
  font-size: 18px;
}
.review-card-content {
  /* max-height: 100%;
  max-width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
  user-select: none;
  max-height: 100%;
  max-width: 95%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 14px;
  color: var(--brown60);
}
.review-card-author {
  color: var(--brown80);
}
